.car-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin: 50px ;
}

.photos-title {
    display: flex;
    flex-direction: column;
}


.title-price {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 30px 50px;
    align-items: flex-end;
}

.title-price h1, h2 {
    font-size: 40px;
}

.car-details-photos-sub-container {
    display: flex;
    gap: 5px;
}

.main-img-container {
    width: 1000px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 5px;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.sub-img {
    width: 330px;
}

.sub-img.left {
    border-bottom-left-radius: 20px;
}

.sub-img.right {
    border-bottom-right-radius: 20px;
}

/* Опции */

.options-car-details {
    display: flex;
    flex-direction: column;
    gap: 55px;
    /* margin-left: 50px; */
    box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1);
    padding: 50px 100px;
    border-radius: 15px;
}

.options-car-details-item {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin-left: 30px; */
    position: relative;
    margin-left: 60px;
}

.options-car-details-item img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -70px;
    top: -5px
}

.options-car-details-item-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.options-car-details-item-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.options-car-details-item-sub {
    /* font-size: 18px; */
    font-weight: bold;
}

.options-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.car-details-button {
    padding: 30px 210px;
    border-radius: 20px;
    background: rgba(228, 225, 225, 1);
    font-size: 24px;
}

.car-details-button:hover {
    transition: all 0.3s;
    background-color: rgba(65, 65, 65, 1);
    color: white;
    cursor: pointer;
}

.car-details-button:active {
    transition: all 0.1s;
    transform: scale(0.8, 0.8);
    opacity: 0.6;
}

/* .button-container {
    position: relative;
}

.car-details-button {
    position: absolute;
    left: -380px;
    bottom: -80px;
    padding: 20px 60px;
    margin: 100px;
} */


.show-h2 {
    margin: 0px 0px 30px 310px;
    font-size: 28px;
}