/* Формы */

.forms-header {
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.forms-header {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 50px;
}

.forms-header img {
    height: 60px;
}

.form-container {
    /* background: rgba(219, 219, 219, 1); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-style-auth {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1);
    width: 650px;
    height: 550px;
    border-radius: 30px;

}

.form-style-auth h1 {
    font-size: 40px;
    margin: 30px;
    letter-spacing: 4px;
}

.input-container {
    position: relative;
}

.input-container input {
    background: rgb(237, 237, 237);
    margin: 20px;
    padding: 25px;
    width: 400px;
    border-radius: 30px;
    color: black;
    font-size: 24px;
    font-weight: 500;
    padding-right: 80px;
    /* transition: outline 0.6 ease-in-out; */
    /* padding-left: 50px; */
    /* width: 150%; */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.input-container input:focus {
    outline: 2px solid rgb(135, 135, 135);
    box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1);
    /* box-sizing: content-box; */
}

.input-container input:valid {
    /* background: rgb(41, 41, 41); */
    /* color: white; */
    outline: 3px solid black;
}

.input-container input::placeholder {
    color: black;
    font-size: 26px;
    font-weight: normal;
}

.input-container img {
    position: absolute;
    left: 83%;
    top: 24%;
    width: 60px;
    border-radius: 20px;
    /* background: rgba(228, 225, 225, 1); */
    /* border-radius: 10px; */
}

/* .input-container div {
    position: absolute;
    left: 88%;
    top: 35%;
    background-color: rgba(228, 225, 225, 1);
} */

.form-style-reg {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1);
    width: 650px;
    height: 630px;
    border-radius: 30px;
}

.form-style-reg h1 {
    letter-spacing: 4px;
}

.input-container-reg {
    position: relative;
}

.input-container-reg input {
    background: rgb(237, 237, 237);
    margin: 10px;
    padding: 15px;
    width: 400px;
    border-radius: 20px;
    color: black;
    font-size: 24px;
    font-weight: 500;
    padding-right: 80px;
    /* transition: outline 0.6 ease-in-out; */
    padding-left: 30px;
    /* width: 150%; */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.input-container-reg img {
    position: absolute;
    left: 89%;
    top: 24%;
    width: 40px;
}

.input-container-reg input::placeholder {
    color: black;
}

.input-container-reg input:focus {
    outline: 2px solid rgb(135, 135, 135);
    box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1);
}

.input-container-reg input:valid {
    /* background: rgb(41, 41, 41); */
    /* color: white; */
    outline: 3px solid black;
}

.form-style-reg h1 {
    font-size: 40px;
    margin: 30px;
}

#button-redirect {
    background: rgba(228, 225, 225, 1);
    /* width: 300px; */
    padding: 20px 40px;
    color: black;
    /* height: 70px; */
    border-radius: 25px;
    margin-top: 30px;
    font-size: 24px;
}

#button-redirect:hover {
    transition: all 0.4s ease;
    background: rgba(65, 65, 65, 1);
    color: white;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.remember-checkbox {
    display: none;
}

.remember-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.checkbox-custom {
    width: 28px;
    height: 28px;
    border: 2px solid rgba(228, 225, 225, 1);
    background: rgba(228, 225, 225, 1);
    border-radius: 30%;
    margin-right: 10px;
    position: relative;
    transition: border-color 0.3s;
}

.remember-checkbox:checked+.remember-label .checkbox-custom {
    border-color: rgba(65, 65, 65, 1);
}

.remember-checkbox:checked+.remember-label .checkbox-custom::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background: rgba(65, 65, 65, 1);
    border-radius: 30%;
}

.form-link {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    /* text-decoration: none; */
    /* font-style: none; */
}

.form-link a {
    color: rgba(65, 65, 65, 1);
    /* font-style: none; */
    text-decoration: none;
    /* transition: all 1s ease; */
}

.form-link a:hover {
    text-decoration: underline;
}

/* Конец форм */