* {
    font-size: 20px;

}

.search-filter-container {
    margin: 0px 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    /* overflow: hidden; */
}


.search-form {
    position: relative;
    flex-basis: 49%;
    flex-grow: 1;
    display: flex;
}

.search-img {
    position: absolute;
    right: 8px;
    top: 6px;
    width: 58px;
    cursor: pointer;
}

.search-img:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
}

.search-img:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.7, 0.7);
}

.search-input {
    flex-basis: 100%;
    flex-grow: 1;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    padding: 20px 0;
    text-indent: 20px;
}



.search-input:focus {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 16px 2px rgba(219, 219, 219, 1);
    outline: 2px solid rgb(135, 135, 135);
}

.search-input:valid {
    outline: 3px solid black;
}

.filter-button {
    flex-grow: 1;
    flex-basis: 49%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(65, 65, 65, 1);
    color: white;
    cursor: pointer;
}

.filter-button:hover {
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
}

.filter-button:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.9);
}

@media (max-width: 768px) {
    .search-input {
        padding: 10px 0;
        border-radius: 15px;
    }

    .search-img {
        width: 40px;
        top: 5px;
        right:6px;
    }

    .filter-button {
        padding: 10px;
        border-radius: 15px;
    }
}