/* Поиск в header */

.search-header button {
    border: none;
    background: none;
}

.header-forms:hover {
    transform: translateY(-2px);
    opacity: 0.75;
}

.header-left {
    margin-left: 80px;
}

.search-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 200px 0 300px;
}

.search-input {
    padding: 12px 300px 12px 20px;
    background: rgba(219, 219, 219, 1);
    border-radius: 20px;
    width: 400px;
    /* height: ; */
    font-size: 26px;
}

.search-input:focus {
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    outline: 2px solid rgb(135, 135, 135);
    box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1);
}

.search-input:valid {
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    outline: 3px solid rgb(0, 0, 0);
}

.search-icon {
    position: absolute;
    right: 2.5%;
    top: 9%;
    width: 45px;
    border-radius: 15px;
    /* background: none;
    border: none; */
    /* box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1); */
}

.search-icon:hover {
    transition: 0.5s;
    opacity: 0.8;
    cursor: pointer;
}

.search-icon:active {
    transition: all 0.1s;
    transform: scale(0.7, 0.7);
}

/* Поиск в header конец */


/* Кнопка фильтров */

.filter {
    margin: 0 50px 30px 50px;
    display: flex;
    justify-content: center;
}

.filter-button {
    background: rgba(65, 65, 65, 1);
    padding: 30px;
    border-radius: 30px;
    font-size: 26px;
    /* display: flex; */
    /* width: 90%; */
    color: white;
    width: 100%;

    /* margin: 50px; */
}

.filter-button:hover {
    transition: 0.5s;
    opacity: 0.8;
    cursor: pointer;
}

.filter-button:active {
    transition: all 0.1s;
    transform: scale(0.7, 0.7);
}

/* фильтр конец */