* {
    margin: 0;
    font-family: "montserrat";
    border-style: none;
    /* font-size: 18px; */
}

input {
    border: 0;
    border-style: none;
    border-width: 0;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

main {
    display: flex;
    flex-direction: column;
    display: relative;
}



@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

/* хедер */

header {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    list-style: none;
    box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1);
    margin: 50px;
    margin-bottom: 30px;
    border-radius: 30px;
}

header nav {
    display: flex;
    /* align-items: flex-end; */
    justify-content: space-between;
    margin: 0 50px 0 50px;
    align-items: center;
    flex-wrap: wrap;
}

.header-img {
    height: 30px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.header-img:hover {
    transform: translateY(-2px);
    opacity: 0.75;
}

.header-left {
    display: flex;
    justify-content: flex-start;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.header-right li {
    padding: 28px;
}

/* хедер конец */

/* Карточки машин */

.car-cart-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 50px 0 50px;
    /* padding: 30px; */
    /* max-width: 1446px; */
}

.car-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(219, 219, 219, 1);
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    padding: 30px;
    /* padding-top: 25px; */
    /* padding-bottom: 20px; */
    /* max-width: 400px; */

    /* border: 2px solid blue */
}

.car-cart:hover {
    background: rgba(65, 65, 65, 1);
    cursor: pointer;
}

.car-cart:hover * {
    transition: transform 0.3s ease-in-out;
    color: white;
}

.car-cart-text {
    /* padding: 30px; */
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.car-cart-text h2 {
    font-size: 25px;
}

.car-cart a {
    text-decoration: none;
    color: black;
}

.car-cart img {
    border-radius: 20px;
    width: 300px;
}

.car-cart:active {
    transition: all 0.1s;
    transform: scale(0.9, 0.9);
    box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1);
}



/* Карточки машин конец */

/* Футер */

footer {
    background: rgba(65, 65, 65, 1);
    color: white;
    margin-bottom: 0;
    /* width: 50px; */
    height: 200px;
    margin-top: 100px;
    margin-left: 50px;
    background-position-y: bottom;
    margin-right: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /* display: inline; */
    /* text-align: center; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: absolute; */
    /* bottom: 0px; */
    /* max-width: 1440p; */
    /* width: 92.5%; */
    /* position: absolute; */
}

.footer-container {
    /* position: relative; */
    flex-direction: column;
}

.logos-footer {
    margin-left: 50px;
}

.logos-footer img {
    margin-right: 20px;
}

.text-footer {
    margin-right: 50px;
}

/* Футер конец */