* {
    margin: 0;
    font-family: "montserrat" !important;
    border-style: none;
    /* font-size: 18px; */
}


body {
    scrollbar-gutter: auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

input {
    border: 0;
    border-style: none;
    border-width: 0;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

main {
    display: flex;
    flex-direction: column;
    display: relative;
}



@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

/* хедер */

header {
    /* overflow: hidden; */
    padding: 20px;
    margin: 20px;
    list-style: none;
    box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1);
    border-radius: 20px;
}



.button-clear {
    background: none;
}

.dropdown-menu {
    border-radius: 20px;
    padding: 20px;
}

.dropdown-item {
    transition: all 0.1s ease;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.dropdown-item:active {
    transform: scale(0.8);
    background-color: rgba(65, 65, 65, 1);
}

header nav {
    display: flex;
    gap: 20px;
    /* align-items: flex-end; */
    justify-content: space-between;
    margin: 0 50px 0 50px;
    align-items: center;
    /* flex-wrap: wrap; */
}

.header-img {
    height: 30px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.header-img:hover {
    transform: translateY(-2px);
    opacity: 0.75;
}

.header-left {
    display: flex;
    justify-content: flex-start;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#dropdownMenuButton1 {
    padding: 0;
}

.chat {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.231);
    z-index: 1000;
}

.chat__modal {
    position: fixed;
    height: 100%;
    width: 40%;
    background-color: white;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}



/* хедер конец */

/* Карточки машин */

.car-cart-container {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.car-cart {
    padding: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background: rgba(219, 219, 219, 1);
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.car-cart-text h2 {
    font-size: 28px;
    font-weight: bold;
}

.car-cart-price {
    font-size: 25px;
    margin: 0;
}

.car-cart-mileage {
    margin: 0;
    font-size: 20px;
}

.car-cart:hover {
    background: rgba(65, 65, 65, 1);
    cursor: pointer;
}

.car-cart:hover * {
    transition: transform 0.3s ease-in-out;
    color: white;
}

.car-cart-text {
    font-size: 20px;
    text-align: center;
    margin: 20px;
}



.car-cart a {
    text-decoration: none;
    color: black;
}

.car-cart img {
    /* border-radius: 20px; */
    /* width: 300px; */
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.car-cart-img-container {
    width: 330px;
    height: 250px;
    overflow: hidden;
    object-fit: fill;
    border-radius: 20px;
    position: relative;
}

.car-cart:active {
    transition: all 0.1s;
    transform: scale(0.9, 0.9);
    box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1);
}

.carousel-indicators {
    position: absolute;
    top: 215px;
}

/* Карточки машин конец */

/* Футер */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    gap: 20px;
    background-color: rgba(65, 65, 65, 1);
    margin: 20px 20px 0px 20px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer-container {
    /* position: relative; */
    flex-direction: column;
}

.logos-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* Футер конец */


/* Избранные модальное окно */

.modal-favorite-container-background {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.231);
    top: 0;
    right: 0;
    z-index: 1000;
}

.modal-favorite-container {
    transition: all 0.3s;
    transform: translateX(100%);
    overflow-y: scroll;
    padding: 30px;
    background-color: white;
    top: 0;
    height: 100%;
    width: 40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.modal-favorite-container.is-visible {
    transition: all 0.3s ease;
    transform: translateX(0);
}

.modal-title-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title-out-img {
    width: 30px;
    cursor: pointer;
}

.modal-x-container {
    background-color: rgba(219, 219, 219, 1);
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.modal-x-container:hover {
    transition: all 0.3s ease;
    background-color: rgb(201, 201, 201);
}

.modal-x-container:active {
    transition: all 0.1s ease;
    opacity: 0.7;
    transform: scale(0.7, 0.7);
}

.body-modal {
    scrollbar-gutter: auto;
}

.modal-favorite-container h2 {
    font-size: 30px;
}

.modal-favorite-car-card-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* Избранные модальное окно конец */

/* Чат Модальное окно */

.modal-chat-container {
    background-color: rgba(0, 0, 0, 0.231);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: flex-end;
}

.modal-chat-window {
    background-color: white;
    width: 40%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.modal-chat-window-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    display: flex;
    justify-content: space-between;
    padding: 30px 220px 30px 30px;
    border-bottom: 1px solid black;
}

.modal-chat-window-header-x-img {
    width: 30px;
}

.modal-chat-window-header-avatar-name {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.modal-chat-window-header-avatar-name h3 {
    font-size: 35px;
}

.modal-chat-window-header-avatar-name div {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
}

.modal-chat-window-header-avatar-name img {
    width: 100%;
    height: 100%;
}

.modal-chat-window-main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.modal-chat-window-main-peoples {
    border-right: 1px solid black;
}

.people-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
    align-items: center;
    border-bottom: 1px solid;
    /* border-bottom: 1px solid black; */
    /* gap: 80px; */
}

.people-container-img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50px;
    /* width: 100%; */
    /* height: 100%; */
}

.people-container-img img {
    width: 100%;
    height: 100%;
}

.people-container-name-car {
    margin: 0 10px;
}


/* Чат Модальное окно конец */

@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: center;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
    }

    .header-right img {
        display: none;
    }
}