* {
    margin: 0;
    text-align: center;
    font-family: "montserrat";
    border-style: none;
}


@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

/* div {
    border: none;
} */

header {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    /* background: blue; */
    list-style: none;
    border-radius: 50px;
    box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1);
    height: 50px;
}

header nav {
    padding: 10px;
    display: flex;
}

header nav li {
    padding-left: 20px;
    padding-right:20px;
}


header img {
    width: auto;
    height:30px;
}

.car-cart a {
    text-decoration: none;
    color: black;
}

.car-cart {
    margin: 30px;
}

footer {
    background: rgba(0, 72, 255, 1);
    color: white;
    bottom: 0;
    /* width: 50px; */
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    /* display: inline; */
    text-align: center;
    padding: 20px;
}





.car-cart-container {
    display: flex;
    flex-direction: column;
}

.img-auth-container {
    text-align: center;
    margin: 50px;
}

.img-reg-container {
    text-align: center;
    margin: 20px;
    margin-top: 2px;
}

.form-style-auth {
    text-align: center;
    /* background: blue; */
    box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1);
    /* height: 350px; */
    /* width: 400px; */
    border-radius: 30px;
}

.form-style-reg {
    text-align: center;
    /* background: blue; */
    box-shadow: 0 0 20px 7px rgba(219, 219, 219, 1);
    /* height: px; */
    width: 320px;
    border-radius: 30px;
}

.input-reg {
    background: rgba(228, 225, 225, 1);
    border-radius: 15px;
    width: 200px;
    /* height: 10x; */
    text-align: left;
    /* display */
    /* left: 20px; */
    padding: 15px;
    transition: all 0.1s ease;
}

input {
    border: 0;
    border-style: none;
    border-width: 0;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-auth {
    background: rgba(228, 225, 225, 1);
    border-radius: 15px;
    width: 250px;
    height: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    /* display */
    /* left: 20px; */
    padding: 20px;
    transition: all 0.1s ease;
}

input:focus {
    outline: 2px solid rgba(0, 72, 255, 1);
}

.form-style-item {
    margin: 20px;
    font-size: 16px;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-redirect {
    background: rgba(228, 225, 225, 1);
    width: 150px;
    height: 50px;
    border-radius: 15px;
    margin: 10px;
    transition: all 0.4s ease;
}

#button-redirect:hover {
    background: rgba(0, 72, 255, 1);
    color: white;

}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.remember-checkbox {
    display: none;
}

.remember-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: rgba(66, 66, 66, 1);
}

.checkbox-custom {
    width: 18px;
    height: 18px;
    border: 2px solid rgba(228, 225, 225, 1);
    background: rgba(228, 225, 225, 1);
    border-radius: 30%;
    margin-right: 8px;
    position: relative;
    transition: border-color 0.3s;
}

.remember-checkbox:checked+.remember-label .checkbox-custom {
    border-color: rgba(0, 72, 255, 1);
}

.remember-checkbox:checked+.remember-label .checkbox-custom::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: rgba(0, 72, 255, 1);
    border-radius: 30%;
}

.form-link {
    margin: 10px;
    font-size: 20px;
    /* text-decoration: none; */
    /* font-style: none; */
}

.form-link a {
    color: rgba(0, 72, 255, 1);
    /* font-style: none; */
    text-decoration: none;
    /* transition: all 1s ease; */
}

.form-link a:hover {
    text-decoration: underline;
}